{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}


    <h2 class="card-title text-center"> Consultar Producto </h2>



      <div class="d-flex justify-content-between">
        <div>
            {#            left#}
            {#                            <a href="{% url 'crear_ciudad' %}" class="btn btn-primary">Crear Ciudad</a>#}
             <a href='{% url 'crear_producto' %}' class="btn-primary"> Crear Producto </a>
        </div>
        <div>
            {#            right#}

            <form action="{% url 'consultar_producto' %}" method="post">
                {% csrf_token %}
                {{ buscarProductoForm.as_table }}
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>

        </div>
    </div>


    <table class="table table-blue table-striped">

        <th>Fecha Creacion</th>
        <th>Fecha Modificacion</th>
        <th>Nombre</th>
        <th>Codigo</th>
        <th>Descriocion</th>
        <th>Categoria Producto</th>
        <th>lista</th>
        <th>ID</th>
        <th>Modificar</th>
        <th>Eliminar</th>

        {% for producto in  prodcutos_ls %}
            {% if producto.estado == 1 %}
                <tr>

                    <td>{{ producto.fecha_creacion|date }}</td>
                    <td>{{ producto.fecha_modificacion|date }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.codigo }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.categoria_producto }}</td>
                    <td>
                        {% for categoria in producto.categoria_producto.all %}
                            {% if categoria.estado == 1 %}
                                {{ categoria.nombre }}{% if forloop.last %},{% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ producto.id }}</td>

                    <td><a href='{% url 'modificar_producto' producto.id %}'> mod </a></td>
                    <td><a href='{% url 'eliminar_producto' producto.id %}'> elim </a></td>

                </tr>
            {% endif %}
        {% endfor %}

    </table>

{% endblock %}