{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <h2 class="card-title text-center"> Consultar Ingreso Bodega </h2>


    <div class="d-flex justify-content-between">
        <div>
            {#            left#}
            {#                            <a href="{% url 'crear_ciudad' %}" class="btn btn-primary">Crear Ciudad</a>#}
             <a href='{% url 'crear_ingreso_bodega' %}' class="btn-primary"> Crear Ingreso Bodega </a>
        </div>
        <div>
            {#            right#}

            <form action="{% url 'consultar_categoria_producto' %}" method="post">
                {% csrf_token %}
                {{ buscarxRangoFechaForm.as_table }}
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>

        </div>
    </div>

    <table class="table table-dark table-striped table-bordered table-hover">

        <th>Fecha Creacion</th>
        <th>Fecha Modificacion</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Direccion</th>
        <th>Cedula</th>
        <th>Correo</th>
        <th>ID</th>
        <th>Estado</th>
        <th>Modificar</th>
        <th>Eliminar</th>

        {% for producto in  prodcutos_ls %}
            {% if producto.estado == 1 %}
                <tr>

                    <td>{{ producto.fecha_creacion }}</td>
                    <td>{{ producto.fecha_modificacion }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.apellido }}</td>
                    <td>{{ producto.edad }}</td>
                    <td>{{ producto.direccion }}</td>
                    <td>{{ producto.cedula }}</td>
                    <td>{{ producto.correo }}</td>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.estado }}</td>
                    <td><a href='{% url 'modificar_ingreso_bodega' producto.id %}'> mod </a></td>
                    <td><a href='{% url 'eliminar_ingreso_bodega' producto.id %}'> elim </a></td>

                </tr>
            {% endif %}
        {% endfor %}

    </table>

{% endblock %}