{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block contenido %}


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">

                    <h2 class="mt-2  text-center"> Modificar Categoria Producto </h2>

                {#                 <h2 class="card-title text-center"> Crear Persona </h2>#}


                    <form method="post" class="form-control form-control-sm">
                        {% csrf_token %}
                        {{ categoriaProductoForm|crispy }}
                        <input type="submit" value="Modificar Categoria Producto" class="btn-primary"/>
                    </form>

            </div>
        </div>
    </div>




{% endblock %}