{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load fontawesome_5 %}
{% block contenido %}




    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h2 class="mt-2 text-center">Crear Categoria Producto</h2>
                {#                 <h2 class="card-title text-center"> Crear Persona </h2>#}
                <hr class="mt-0 mb-4">

                <form method="POST">
                    {% csrf_token %}
                    {% crispy asientos %}

                    {% fa5_icon 'search' 'fas' %}

                    {% fa5_icon 'github' 'fab' %}

                    {% fa5_icon 'github-square' 'fab' %}

                    {% fa5_icon 'save' 'fas' %}

                    {% fa5_icon 'fa fa-search-plus' 'fas' %}


                    <input type="submit" value="Guardar Asientos" class="btn-primary">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>

                    {% crispy addresForm %}

                </form>
            </div>
        </div>
    </div>





{% endblock %}

