{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}


    <h2 class="card-title text-center"> Consultar Bodega </h2>


   <div class="d-flex justify-content-between">
        <div>
            {#            left#}
            {#                            <a href="{% url 'crear_ciudad' %}" class="btn btn-primary">Crear Ciudad</a>#}
               <a href='{% url 'crear_bodega' %}' class="btn-primary"> Crear Bodega </a>

        </div>
        <div>
            {#            right#}

            <form action="{% url 'consultar_bodega' %}" method="post">
                {% csrf_token %}
                {{ buscarxRangoFechaForm.as_table }}
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>

        </div>
    </div>

    <table class="table table-dark table-striped table-bordered table-hover">

        <th>Fecha Creacion</th>
        <th>Fecha Modificacion</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Categoria</th>

        <th>ID</th>
        <th>Estado</th>
        <th>Modificar</th>
        <th>Eliminar</th>

        {% for bodega in  bodegas_ls %}
            {% if bodega.estado == 1 %}
                <tr>

                    <td>{{ bodega.fecha_creacion|date }}</td>
                    <td>{{ bodega.fecha_modificacion|date }}</td>
                    <td>{{ bodega.nombre }}</td>
                    <td>{{ bodega.descripcion }}</td>
                    <td>{{ bodega.categoria }}</td>

                    <td>{{ bodega.id }}</td>
                    <td>{{ bodega.estado }}</td>
                    <td><a href='{% url 'modificar_bodega' bodega.id %}'> mod </a></td>
                    <td><a href='{% url 'eliminar_bodega' bodega.id %}'> elim </a></td>

                </tr>
            {% endif %}
        {% endfor %}

    </table>

{% endblock %}