{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}


    <h2 class="card-title text-center"> Consultar Bodega </h2>

    <a href='{% url 'crear_bodega' %}' class="btn-primary"> Crear Bodega </a>

    <table class="table table-blue table-striped">

        <th>Fecha Creacion</th>
        <th>Fecha Modificacion</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Direccion</th>
        <th>Cedula</th>
        <th>Correo</th>
        <th>ID</th>
        <th>Estado</th>
        <th>Modificar</th>
        <th>Eliminar</th>

        {% for producto in  bodegas_ls %}
            {% if producto.estado == 1 %}
                <tr>

                    <td>{{ producto.fecha_creacion }}</td>
                    <td>{{ producto.fecha_modificacion }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.apellido }}</td>
                    <td>{{ producto.edad }}</td>
                    <td>{{ producto.direccion }}</td>
                    <td>{{ producto.cedula }}</td>
                    <td>{{ producto.correo }}</td>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.estado }}</td>
                    <td><a href='{% url 'modificar_bodega' producto.id %}'> mod </a></td>
                    <td><a href='{% url 'eliminar_bodega' producto.id %}'> elim </a></td>

                </tr>
            {% endif %}
        {% endfor %}

    </table>

{% endblock %}