{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block contenido %}

    <h2 class="card-title text-center"> Consultar Imagenes de Productos </h2>

    <a href='{% url 'crear_imagen_producto' %}' class="btn-primary"> Crear Imagen de Producto </a>

    <table class="table table-dark table-striped">

        <thead>
        <th>Fecha Creacion</th>
        <th>Producto</th>
        <th>Nombre</th>
        <th>Estado</th>
        <th>ID</th>
        <th>Modificar</th>
        <th>Eliminar</th>
        </thead>

        <tbody>

        {% for img_producto in imagenes_producto %}
            {% if img_producto.estado == 1 %}
                <tr>
                    <td> {{ img_producto.fecha_creacion }}</td>
                    <td> {{ img_producto.producto }}</td>
                    <td> {{ img_producto.nombre }}</td>
                    <td> {{ img_producto.estado }}</td>
                    <td> {{ img_producto.id }}</td>
                    <td><a href="{% url 'modificar_imagen_producto' img_producto.id %}"> Mod </a></td>
                    <td><a href="{% url 'eliminar_imagen_producto' img_producto.id %}"> Elim </a></td>

                </tr>
            {% endif %}
        {% endfor %}


        </tbody>


    </table>

{% endblock %}
